.player-zone {
	min-height: 450px;
	padding: 10px;

	border: 2px solid black;
}

.passive-player button{
	display: none;
}
.passive-player .alert-turn {
	display: none;
}

.current-player {
	border: 4px solid green;
}

.alert-turn {
	text-align: center;
	font-size: 1.2em;
	margin-top: 30px;
}

#log {
	height: 300px;

	padding: 10px;
	margin-top: 10px;
	border: 2px solid black;

	font-size: 1.2em;
	word-wrap: break-word;
	overflow: scroll;
}

.red-c {color: red;}
.green-c {color: green;}
.blue-c {color: blue;}